.default-header {
	position: relative;
	.header-avatar {
		position: absolute;
		top: 1rem;
		right: 1rem;
	}
	.main-nav {
		background: lime;
		display: flex;
		justify-content: center;
		a {
			padding: 0.5rem;
			margin: 0.5rem;
			background-color: #cccccccc;
			transition: all 0.3s linear;
			&:hover {
				background-color: #bbbbbbbb;
			}
		}
	}
}
